@charset "UTF-8";
:root {
  --main-text-cl: #212121;
  --accent-cl: #2196f3;
  --grey-dg-text: #757575;
  --title-cl: #ffffff;
  --dark-dg: #2f303a;
  --second-bg: #f5f4fa;
  --logo-font: "Raleway", sans-serif;
  --main-font: "Roboto", sans-serif;
  --margin-card: 30px;
  --border-color: #eeeeee;
  --background-main: #c4c4c4;
  --background-maim-color: rgba(47, 48, 58, 0.4);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  color: var(--grey-dg-text);
}

.header__container,
.features__container,
.occupations__container,
.team__box,
.clients__box,
.footer__box,
.galery__container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually__hidden {
  position: absolute;
  clip: rect(1px 1 px 1px 1px);
  clip: rect(1px, 1px 1px, 1px);
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--main-text-cl);
}

.features,
.occupations,
.team,
.clients,
.galery {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Заказать услугу */
.hero__btn {
  background: var(--accent-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  letter-spacing: 0.06em;
  padding: 10px 30px;
  color: var(--title-cl);
  cursor: pointer;
  border: 0;
}

.form__btn {
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

/* модальное окно */
.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__wind {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--title-cl);
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:focus .modal__close-icon {
  fill: var(--accent-cl);
  cursor: pointer;
}

.modal__close-icon {
  width: 18px;
  height: 18px;
}

/* оформдение модального окна */
.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.form__label {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__inp-thumb {
  position: relative;
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
}

.form__input:focus,
.form__input--textarea:focus {
  border: 1px solid #2196f3;
}

.form__input:focus + .form__inp-icon {
  fill: #2196f3;
}

.form__inp-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input--textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px 12px 16px;
  margin-bottom: 20px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input--textarea::placeholder {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.form__label-checkbox {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
}

.form__checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.form__castom-checkbox {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-color: #ffffff;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
}

.form__checkbox-input:checked + .form__castom-checkbox {
  background-color: #2196f3;
  border: 2px solid #2196f3;
}

.form__checkbox-input:checked:focus + .form__castom-checkbox {
  background-color: #2196f3;
  border: 2px solid #2196f3;
}

.form__checkbox-input:focus + .form__castom-checkbox {
  border: 2px solid #2196f3;
}

.form__link {
  margin-left: 5px;
  color: #2196f3;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: inline-block;
  margin-right: 93px;
  text-decoration: none;
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-cl);
}

.nav__list {
  display: inline-flex;
  list-style: none;
}

.contacts__list {
  display: inline-flex;
  list-style: none;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__item {
  margin-right: 50px;
}

.header__logo2 {
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.nav__link {
  color: inherit;
  text-decoration: none;
  font-family: var(--main-font);
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  color: var(--main-text-cl);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-cl);
}

.nav__link--current {
  color: var(--accent-cl);
}

.contacts__link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-cl);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

/*подчеркивание меню навигации*/
.nav__link {
  position: relative;
}

.nav__link::after,
.nav__link--current::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 29px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-cl);
  border-radius: 2px;
}

.nav__link::after {
  opacity: 0;
}

.nav__link--current::after {
  opacity: 1;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-main);
  background-image: linear-gradient(to right, var(--background-maim-color), var(--background-maim-color)), url("../images/img-main.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.hero__title {
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 30px;
  max-width: 696px;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-cl);
}

.features__list {
  display: flex;
  padding-left: 0px;
  list-style: none;
}

.features__list > .features__item:not(:last-child) {
  flex-basis: calc((100% - 4 * var(--margin-card)) / 4);
  margin-right: var(--margin-card);
}

.features__title {
  font-family: var(--main-font);
  font-style: bold;
  min-width: 270px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-cl);
}

.features__dscr {
  min-width: 270px;
  font-size: 14px;
  line-height: 1.71;
}

.features__box {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--second-bg);
  border-radius: 4px;
}

.occupations {
  padding-top: 0px;
  padding-bottom: 94px;
}

.occupations__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.occupations__item {
  display: block;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.occupations__thumb {
  position: relative;
  height: 294px;
}

.occupations__overlay {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.occupations__text {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-cl);
}

.team {
  background-color: var(--second-bg);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  list-style: none;
}

.team__item {
  margin-left: 30px;
  flex-basis: calc((100% - 4 * 30px) / 4);
  text-align: center;
  background: var(--title-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__wrap {
  padding: 30px 32px;
  text-align: center;
}

.team__person {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text-cl);
}

.team__position {
  margin-bottom: 16px;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team__social {
  display: inline-flex;
  list-style: none;
}

.steam__social-item:not(:last-child) {
  margin-right: 10px;
}

.team__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--title-cl);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link:hover,
.team__social-link:focus {
  background-color: var(--accent-cl);
}

.team__social-link:hover .team__social-icon,
.team__social-link:focus .team__social-icon {
  fill: var(--title-cl);
}

.clients__list {
  display: inline-flex;
  list-style: none;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-cl);
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-cl);
  border-radius: 4px;
}

.galery__filter {
  display: flex;
  margin-bottom: 50px;
  padding-left: 0px;
  justify-content: center;
  list-style: none;
}

.galery__filter-item:not(:last-child) {
  margin-right: 8px;
}

.galery__btn {
  padding: 6px 22px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--second-bg);
  color: var(--main-text-cl);
  border: none;
  outline: none;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.galery__btn:hover,
.galery__btn:focus {
  color: var(--title-cl);
  background-color: var(--accent-cl);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.galery__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  list-style: none;
}

.galery__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}

.galery__link {
  display: block;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.galery__link:hover,
.galery__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.galery__link:hover .galery__overlay,
.galery__link:focus .galery__overlay {
  transform: translateY(0);
}

.galery__wrap {
  position: relative;
  display: flex;
  overflow: hidden;
}

.galery__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.galery__overlay {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}

.galery__overlay .galery__text {
  padding: 63px 24px;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.56%px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.galery__card {
  padding: 20px 24px;
  background: var(--title-cl);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}

.galery__card-title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-cl);
}

.galery__card-dscr {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--grey-dg-text);
}

.footer {
  background-color: var(--dark-dg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__box {
  display: flex;
  align-items: baseline;
}

.footer__address-area {
  margin-right: 70px;
}

.footer__logo {
  text-decoration: none;
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-cl);
}

.footer__logo2 {
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-cl);
}

.footer__address-wrap {
  font-style: inherit;
  margin-top: 20px;
  list-style: none;
}

.footer__address {
  margin-bottom: 8px;
}

.footer__list {
  display: inline;
  margin-left: 0px;
  margin-top: 8px;
  list-style: none;
}

.footer__item {
  margin-bottom: 8px;
}

.footer__link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__social {
  margin-right: 93px;
}

.footer__social-text {
  font-family: var(--main-font);
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-cl);
}

.footer__social-list {
  display: inline-flex;
  list-style: none;
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.footer__social-link:hover,
.footer__social-link:focus {
  background-color: var(--accent-cl);
  border-radius: 50%;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:hover {
  background-color: var(--accent-cl);
}

.footer__social-link:hover .footer-icons,
.footer__social-link:focus .social-icons {
  fill: var(--title-cl);
}

.footer__social-icon {
  width: 20px;
  height: 20px;
  fill: var(--title-cl);
}

.footer__label {
  margin-bottom: 20px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__form {
  display: flex;
  align-items: center;
}

.footer__input {
  margin: 0;
  margin-right: 12px;
  padding: 15px 16px 15px 16px;
  min-width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.footer__input::placeholder {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25%px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.3);
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87%;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.footer__btn-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--title-cl);
}
/*# sourceMappingURL=main.css.map */