.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-main);
  background-image: linear-gradient(
      to right,
      var(--background-maim-color),
      var(--background-maim-color)
    ),
    url("../images/img-main.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

.hero__title {
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 30px;
  max-width: 696px;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-cl);
}
