:root {
  --main-text-cl: #212121;
  --accent-cl: #2196f3;
  --grey-dg-text: #757575;
  --title-cl: #ffffff;
  --dark-dg: #2f303a;
  --second-bg: #f5f4fa;
  --logo-font: "Raleway", sans-serif;
  --main-font: "Roboto", sans-serif;
  --margin-card: 30px;
  --border-color: #eeeeee;
  --background-main: #c4c4c4;
  --background-maim-color: rgba(47, 48, 58, 0.4);
}
